<!doctype html>
<html>
     <head>
          <title>My first HTML example in WEB summer course, BGU University </title>
     </head>
     <body>
          <h1> Hi, im making my first HTML page, Congratulate me.</h1>
          <p> To be honest I am not really good with programming so this is exciting for me.<br>
                 <strong> Wish me luck!</strong>
          <p>
          <img src="https://images-na.ssl-images-amazon.com/images/I/51Fnp0p8cvL._AC_UL600_SR600,600_.jpg" alt="oops"
     </body>            
</html>